// Variablen
$accent-color: rgba(225, 85, 68, 1);
$green-color: rgba(2, 244, 191, 1);

.contact-button-container {
  width: 169px;
  height: 52px;
  position: relative;
  top: 286px;
  left: 50px;
  transform: rotate(270deg); // Entspricht 90° + Spiegelung
  display: flex;
  gap: 10px;
}

.contact-button {
  width: 169px;
  height: 52px;
  padding: 15px 30px;
  background: transparent;
  border: 1px solid $green-color; // Version 1/Green
  cursor: pointer;
  transition: all 0.3s ease-out;
  
  &:hover {
    background-color: rgba(2, 244, 191, 0.1);
  }
  
  // Animation beim Klicken
  &:active {
    animation: buttonClick 300ms ease-out forwards;
  }
}

.button-text {
  width: 109px;
  height: 22px;
  color: $accent-color; // Version 1/Red
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg); // Um die Rotation des Containers auszugleichen
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}