.hero-image {
  position: absolute;
  width: 539px;
  height: 554px;
  right: 80px; // Position angepasst gemäß Bild
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}