$accent-color: rgba(225, 85, 68, 1);
$green-color: rgba(2, 244, 191, 1);

.scroll-arrow {
  position: absolute;
  width: 22px;
  height: 50px;
  top: 150px; 
  left: 50%; 
  transform: translateX(-50%);
  cursor: pointer;
  margin-top: 80px;
  border: 1px solid transparent; 
  transition: border 0.3s ease; 
  padding: 8px; 
  box-sizing: content-box; 
  
  svg {
    width: 22px;
    height: 50px;
    path {
      stroke: $accent-color;
      transition: stroke 0.3s ease, stroke-width 0.3s ease; 
    }
  }
  
  &:hover {
    border: 1px solid $green-color; 
    
    svg path {
      stroke: $green-color; 
      stroke-width: 3; 
    }
  }
  
  &:active {
    animation: arrowClick 300ms ease-out forwards;
    
    svg path {
      stroke: $green-color;
    }
  }
}

@keyframes arrowClick {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(0.95);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}