<div class="intro-container">
  <!-- Container 1: I am / Located in Munich -->
  <div class="intro-row">
    <div class="i-am-text">
      <span class="i-text">I</span>
      <span class="am-text">am</span>
    </div>
    
    <div class="location-info">
      <img src="../../../assets/image-why-me/Vector.png" alt="Location icon" class="location-icon">
      <div class="location-text">
        <span class="text-primary">located</span>
        <span class="text-secondary">in Munich</span>
      </div>
    </div>
  </div>
  
  <!-- Arrow down to Container 2 -->
  <img src="../../../assets/image-why-me/Arrow 5.png" alt="Arrow" class="arrow arrow-1">
  
  <!-- Container 2: Open to relocate -->
  <div class="relocate-row">
    <img src="../../../assets/image-why-me/Group 24.png" alt="Luggage icon" class="relocate-icon">
    <div class="relocate-text">
      <span class="text-primary">open to</span>
      <span class="text-secondary">relocate</span>
    </div>
  </div>
  
  <!-- Arrow from Container 2 to Container 3 -->
  <img src="../../../assets/image-why-me/Arrow 4.png" alt="Arrow" class="arrow arrow-2">
  
  <!-- Container 3: Open to work remote -->
  <div class="remote-row">
    <img src="../../../assets/image-why-me/Icon Remote.png" alt="WiFi icon" class="remote-icon">
    <div class="remote-text">
      <span class="text-primary">open to</span>
      <span class="text-secondary">work remote</span>
    </div>
  </div>
  
  <!-- Arrow from Container 3 -->
  <img src="../../../assets/image-why-me/Arrow 01.png" alt="Arrow" class="arrow arrow-3">
</div>